<!DOCTYPE html>
<html>
<head>
  <title>MovieClub QUnit Tests</title>
  <%= stylesheet_link_tag "qunit", media: "all" %>
  <%= stylesheet_link_tag "test_helper", media: "all" %>

  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" %>

  <%= javascript_include_tag "qunit" %>
  <%= javascript_include_tag "test_helper" %>
</head>
<body>
  <div id="qunit"></div>
</body>
</html>
