<h1>Propose an event</h1>
<%= form_for @event do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :trailer_url %>
    <%= f.text_field :trailer_url %>
  </p>
  <p>
    <%= f.submit %>
    <%= link_to "Back to upcoming events", events_path, :class => "link-back" %>
  </p>
<% end %>


