<!DOCTYPE html>
<html>
<head>
  <title>MovieClub</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js" %>
  <%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :javascripts %>
</head>
<body>
  <%= yield %>
</body>
</html>
